body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  min-height: 100vh;
}
p {
  max-width: 290px;
  font-size: 17px;
  font-family: outfit;
  font-weight: 300;
}
.bold {
  font-size: 25px;
  font-weight: 700;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  text-align: center;
  padding: 16px;
}

.QR {
  /* max-width: 285px;
  max-height: 285px; */
  border-radius: 0.5rem;
  max-width: 100%;
  max-height: 100%;
}
