/* navbar card */

#navbar22 {
  display: none;
  position: fixed;
  width: 300px;
  top: 50%;
  transform: translate(0%, -50%);
  height: fit-content;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 2;
  margin: auto 0 auto 0;
}
.container {
  line-height: 2rem;
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 400;
}
header {
  font-size: 1.5rem;
  padding-left: 30px;
  font-weight: 700;
}
a {
  text-decoration: none;
}
/* button */
.dropbtn {
  width: 3rem;
  height: 3rem;
  border: none;
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 50%;
  transform: translate(0%, -50%);
  transition: ease-in-out 0.5s;
}
.menubar {
  width: 3rem;
  height: 3rem;
}

.dropbtn:hover + .card {
  position: fixed;
  width: 300px;
  top: 50%;
  transform: translate(0%, -50%);
  height: fit-content;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 2;
  margin: auto 0 auto 0;
  left: 300px;
}
.div1 {
  display: none;
}

a:hover + .div1 {
  display: block;
}
